<dav-button (click)="showModal()" nzType="primary">打开</dav-button>
<dav-modal
  [(nzVisible)]="show"
  nzTitle="增加新大屏"
  (nzOnCancel)="closeModal()"
  (nzOnOk)="handleOk()">

  <dav-input
    value="lalal"
    [nzRequired]="true"
    nzLabelName="大屏名称"
    placeholder="输入大屏名称"
  >
  </dav-input>
  <div class="re-divide-line"></div>

  <p style="color:#fff">111222333</p>
  <button nz-button nzType="default">Primary</button>
</dav-modal>

<dav-group-header
  ngTitle="未分組111"
  [ngShowAll]="showAll"
  (ngToggle)="toggleShow()"
>
</dav-group-header>

<div style="background: transparent;padding:24px;">
  <div nz-row [nzGutter]="6">

    <div nz-col [nzSpan]="6" style="margin:16px 0;">
      <dav-screen-item type="add"></dav-screen-item>
    </div>

    <div nz-col [nzSpan]="6" style="margin:16px 0;">
      <dav-screen-item
        type="publish"
        title="老心们的大屏333"
        bg="http://img03.tooopen.com/uploadfile/downs/images/20110714/sy_20110714135215645030.jpg"
      >
        <div class="cover">
          <div class="top">
            <i style="margin-right: 25px;" class="anticon anticon-plus"></i>
            <i class="anticon anticon-logout" title="发布"></i>
          </div>
          <div class="center">
            <dav-button nzType="primary">编辑</dav-button>
            <p style="margin-top: 16px;">
              <i style="margin-right: 35px;" title="复制" class="anticon anticon-copy"></i>
              <i class="anticon anticon-delete" title="删除"></i>
            </p>
          </div>
          <div class="bottom"></div>
        </div>
      </dav-screen-item>
    </div>

    <div nz-col [nzSpan]="6" style="margin:16px 0;">
      <dav-screen-item
        type="publish"
        title="老心们的大屏333"
        bg="http://img03.tooopen.com/uploadfile/downs/images/20110714/sy_20110714135215645030.jpg"
      >
        <div class="cover">
          <div class="top">
            <i style="margin-right: 25px;" class="anticon anticon-plus"></i>
            <i class="anticon anticon-logout"></i>
          </div>
          <div class="center">
            <dav-button nzType="primary">编辑</dav-button>
            <p style="margin-top: 16px;">
              <i style="margin-right: 35px;" class="anticon anticon-copy"></i>
              <i class="anticon anticon-delete"></i>
            </p>
          </div>
          <div class="bottom"></div>
        </div>
      </dav-screen-item>
    </div>

    <div nz-col [nzSpan]="6" style="margin:16px 0;">
      <dav-screen-item
        type="publish"
        title="老心们的大屏333"
        bg="http://img03.tooopen.com/uploadfile/downs/images/20110714/sy_20110714135215645030.jpg"
      >
        <div class="cover">
          <div class="top">
            <i style="margin-right: 25px;" class="anticon anticon-plus"></i>
            <i class="anticon anticon-logout"></i>
          </div>
          <div class="center">
            <dav-button nzType="primary">编辑</dav-button>
            <p style="margin-top: 16px;">
              <i style="margin-right: 35px;" class="anticon anticon-copy"></i>
              <i class="anticon anticon-delete"></i>
            </p>
          </div>
          <div class="bottom"></div>
        </div>
      </dav-screen-item>
    </div>

    <div nz-col [nzSpan]="6" style="margin:16px 0;">
      <dav-screen-item
        type="unpublish"
        title="老心们的大屏333"
        bg="http://img03.tooopen.com/uploadfile/downs/images/20110714/sy_20110714135215645030.jpg"
      >
        <div class="cover">
          <div class="top">
            <i style="margin-right: 25px;" class="anticon anticon-plus"></i>
            <i class="anticon anticon-logout"></i>
          </div>
          <div class="center">
            <dav-button nzType="primary">编辑</dav-button>
            <p style="margin-top: 16px;">
              <i style="margin-right: 35px;" class="anticon anticon-copy"></i>
              <i class="anticon anticon-delete"></i>
            </p>
          </div>
          <div class="bottom"></div>
        </div>
      </dav-screen-item>
    </div>

  </div>
</div>




<dav-group-header
  ngTitle="未分組222"
  [ngShowAll]="!showAll2"
  (ngToggle)="toggleShow2()"
></dav-group-header>

<p>{{showAll}}</p>

