/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  padding: 20px;
  background-size: 100% 100%;
  background: url(./assets/img/BG.png) top left;
  color: #fff;
}

.ant-card {
  background-color: transparent;
  border: 0;
  color: #fff;
}

/* 重写弹出框样式-- start */

.re-modal .ant-modal {
  min-width: 280px;
}

.re-modal .ant-modal-content{
  background-color: transparent;
}


.re-modal .ant-modal-content .ant-modal-header {
  background: url(assets/img/pop_entirety.png) no-repeat;
  background-size: cover;
  border-bottom: 0;
}

.re-modal .ant-modal-content .ant-modal-footer {
  background: url(assets/img/pop_entirety.png) no-repeat bottom;
  background-size: cover;
  border-top: 0;
}

.re-modal .ant-modal-content .ant-modal-body {
  background: url(assets/img/pop_center_bg.png) repeat top;
  background-size: 100%;
  border-top: 0;
}

.re-modal .ant-modal-content .ant-modal-close-x {
  background: url(assets/img/but_popdel.png) no-repeat;
  background-size: 48px 27px;
  background-position: top right;
  width: 48px;
  height: 27px;
  margin-right: 3px;
  margin-top: 3px;
}

.re-modal .ant-modal-content .ant-modal-close-x i{
  display:none
}

.re-modal .ant-modal-header {
  background-color: transparent;
}


/* 重写弹出框样式-- end */

/* 分割线样式-- start */
.re-divide-line{
  margin: 16px 0;
  border-bottom: 1px solid #002753;
}
/* 分割线样式-- end */


// 大屏预览分块

.dav-screen-item {

  //width:288px;
  //height: 208px;

  .ant-card-body{
    display:none;
  }

  .ant-card-cover{
    position: relative;

    .dsi-content {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}

.dav-screen-item-add {
  .dsi-content-inner{
    margin-top: 50%;
    transform: translateY(-100%);

    p {
      text-align: center;

      &:first-child {
        margin-bottom: 16px;
      }
    }
  }
}

.dav-screen-pub-common {
  background-size: 100% 100%;

  .dsi-content {
    background-color: transparent;
  }

  .cover{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    border: 1px solid #005be1;
    opacity: 0;
    transition:opacity 0.5s;

    &:hover {
      opacity: 1;
    }

    i {
      font-size: 24px;
      outline: 1px dashed #fff;
    }
  }

  .dsi-content-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    line-height: 40px;
    color: #fff;

    p {
      padding-left: 16px;
    }

    span {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 12px;
      padding-right: 25px;
    }
  }


  .dsi-content-inner{
    margin-top: 50%;
    transform: translateY(-100%);

    p {
      text-align: center;

      &:first-child {
        margin-bottom: 16px;
      }
    }
  }
}

.dav-screen-item-publish{
  .dsi-content-bottom{
    span{
      color: #fff;
    }
  }
}

.dav-screen-item-unpublish{
  .dsi-content-bottom{
    span{
      color: #ccc;
    }
  }
}


